SENTIMENT_PROVIDER=fake
SENTIMENT_MODEL=distilbert-base-uncased-finetuned-sst-2-english
SENTIMENT_NEUTRAL_THRESHOLD=0.70
SENTIMENT_BATCH_SIZE=32
BULK_INCLUDE_RESULTS_DEFAULT=false

MIN_TEXT_LENGTH=3
MAX_TEXT_LENGTH=1000

QDRANT_URL=http://192.168.2.49:6335
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=feedback_analysis
QDRANT_VECTOR_SIZE=384